@model Eshop.DomainEntities.Domain.PlannedRoute

<h1>Itinerary Details for @Model.Itinerary.TravelPackage.Name</h1>
<div class="container">
    <p>Start Date: @Model.Itinerary.StartDate</p>
    <p>End Date: @Model.Itinerary.EndDate</p>
</div>