@model Eshop.DomainEntities.TravelPackageInShoppingCart



<div class="container mt-5">
    <h4 class="mb-4">Hang on! Just enter the number of people who will be traveling with you before you add this trip to your whishlist</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form asp-action="AddToCartConfirmed" class="shadow p-4 rounded bg-light">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group mb-3">
                    <label asp-for="NumberOfTravelers" class="form-label">Number of Travelers</label>
                    <input asp-for="NumberOfTravelers" class="form-control" />
                    <span asp-validation-for="NumberOfTravelers" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="TravelPackageId" />
                <input type="hidden" asp-for="ShoppingCartId" />

                <div class="form-group text-center">
                    <input type="submit" value="Add this trip to your whishlist" class="btn btn-custom btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>

